body {
  font-family: sans-serif;
  background-color: hsl(220, 13%, 18%);
  color: hsl(220, 14%, 71%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.intro-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  padding-bottom: 10vh;
  row-gap: 0.5rem;
}

#hello {
  font-size: 4rem;
  color: hsl(39, 67%, 69%);
}

#greeting {
  font-size: 6rem;
}

#greeting #name {
  color: hsl(95, 38%, 62%);
  font-weight: bold;
}

#description {
  font-size: 2rem;
  line-height: 1.25;
}

#description #currently {
  color: hsl(355, 65%, 65%);
}

#description #major {
  color: hsl(207, 82%, 66%);
  font-weight: bold;
}

#description #school {
  color: hsl(286, 60%, 67%);
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro-flex {
    width: 80vw;
  }
}

@media only screen and (max-width: 767px) {
  .intro-flex {
    width: 80vw;
  }

  #hello {
    font-size: 3rem;
  }

  #greeting {
    font-size: 4rem;
  }

  #description {
    font-size: 1.5rem;
  }
}