:root {
  --bg: #282c34;
  --bg2: #2b313b;
  --bg3: #5c6370;
  --fg: #abb2bf;
  --fg2: #768196;
  --red: #e06c75;
  --orange: #d19a66;
  --yellow: #e5c07b;
  --green: #98c379;
  --cyan: #56b6c2;
  --blue: #61afef;
  --purple: #c678dd;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  font-size: 1.1rem;
}

a:link {
  color: var(--fg);
  transition: 0.3s;
}

a:visited {
  color: var(--fg);
}

a:hover {
  color: white;
}

.splash-container {
  display: grid;
  grid-template-rows: 2fr auto repeat(2, 1fr);
  justify-items: center;
  height: 100vh;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  gap: 0.5rem;
  grid-row: 2 / 3;
  padding-bottom: 10vh;

  #hello {
    font-size: 4rem;
    color: var(--yellow);
  }

  #greeting {
    font-size: 6rem;

    #name {
      color: var(--green);
      font-weight: bold;
    }
  }

  #description {
    font-size: 2rem;
    line-height: 1.25;

    #currently {
      color: var(--red);
    }

    #major {
      color: var(--blue);
      font-weight: bold;
    }

    #university {
      color: var(--purple);
      font-weight: bold;
    }
  }
}

.info-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
  grid-template-rows: 0.25fr 0.5fr 2fr 0.25fr;
  gap: 0.5rem 1rem;

  #contact {
    grid-area: 2 / 2 / 4 / 3;

    .skill-category {
      color: var(--green);
    }

    #contact-label {
      color: var(--yellow);
    }

    #education-label {
      color: var(--purple);
    }

    #skills-label {
      color: var(--green);
    }
  }

  #about {
    grid-area: 2 / 3 / 3 / 4;

    #about-label {
      color: var(--red);
    }
  }

  #experience {
    grid-area: 3 / 3 / 4 / 4;

    #experience-label {
      color: var(--blue);
    }
  }
}

.grid-item {
  background-color: var(--bg2);
  border-radius: 1rem;
  border: 1px solid var(--fg2);
  padding: 0.5rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 0.5rem;
  flex-direction: column;
  line-height: 1.25;

  .sub-item {
    border-top: 1px solid var(--fg2);
    width: auto;
    margin: 0.5rem -1rem -1rem -1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  .list-item-content {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    margin-top: 0.25rem;
  }
}

.item-label {
  font-weight: bold;
  background-color: var(--bg2);
  padding: 0.4rem;
  border: 1px solid var(--fg2);
  border-radius: 0.5rem;
  text-align: center;
}

.arrow-down-container {
  grid-row-start: 4;

  .arrow-down {
    filter: invert(93%) sepia(18%) saturate(4426%) hue-rotate(156deg) brightness(83%) contrast(81%);
    width: 5rem;
    animation: moveUpDown 2s ease-in-out infinite;
  }
}

.dot-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dot-outline {
    border: 1px solid var(--fg2);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    .dot {
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 50%;
      display: inline-block;
    }
  }

  .dot-link {
    height: auto;
    width: 1px;
    background-color: var(--fg2);
    grid-column: 1 / 2;
    flex: 1;
    margin-bottom: -0.5rem;
  }
}

#contact-container {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 0.5rem;

  .icon {
    filter: brightness(0) saturate(100%) invert(83%) sepia(34%) saturate(552%) hue-rotate(343deg) brightness(93%) contrast(93%);
    height: 1rem;
    grid-column: 1 / 2;
  }

  .text {
    grid-column: 2 / 3;
    width: max-content;
  }

  .company-icon {
    height: 1rem;
    grid-column: 1 / 2;
  }
}

#education-container {
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem 1rem;

  #education-dot {
    background-color: var(--purple);
  }

  .name {
    color: var(--purple);
    font-weight: bold;
  }

  .location {
    font-weight: lighter;
    font-style: italic;
  }
}

#experience-container {
  display: grid;
  grid-template-columns: 1.5rem auto;
  grid-template-rows: repeat(1, auto);
  column-gap: 1rem;

  #experience-dot {
    background-color: var(--blue);
  }

  .name {
    color: var(--blue);
    font-weight: bold;
  }

  .company {
    font-weight: lighter;
    font-style: italic;
  }

  .description-list {
    margin: 0.5rem 0 0;
  }
}

#item1 {
  grid-row: 1 / 2;
}

#item2 {
  grid-row: 2 / 3;
}

#item3 {
  grid-row: 3 / 4;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .splash-container .splash {
    width: 80vw;
  }

  .info-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 0 5vw;

    #about {
      order: -1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .splash-container {
    grid-template-rows: 2fr auto 0.75fr 1.25fr;
  }

  .splash-container .splash {
    width: 80vw;

    #hello {
      font-size: 3rem;
    }

    #greeting {
      font-size: 4rem;
    }

    #description {
      font-size: 1.5rem;
    }

    .arrow-down-container .arrow-down {
      width: 3.5rem;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    #about {
      order: -1;
    }
  }
}